<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://bootstraptema.ru/snippets/form/2017/jquery.payform.min.js"></script>
    <script src="https://bootstraptema.ru/snippets/form/2017/script.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <title>BookPlaza</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light"  style="background-color: peachpuff;">
  <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'base' %}" style="font-family: Georgia; color: rebeccapurple; font-size: 2rem">BookPlaza<i class="bi bi-book-half" style="font-size: 1.5rem;"></i></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="one-edge-shadow navbar navbar-light sticky-top navbar navbar-expand-lg text-white" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'base' %}" style="color: rebeccapurple">Главная</a>
        </li>
          {% if not request.user.is_authenticated %}
                <li class="nav-item">
                <a class="nav-link" href="{% url 'login' %}" style="color: black"><i class="bi bi-box-arrow-in-right"></i> Вход</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="{% url 'registration'%}" style="color: black"><i class="bi bi-person-bounding-box"></i> Регистрация</a>
                </li>
          {% else %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'account' %}"><i class="bi bi-file-person-fill" style="font-size: 1rem; color: black;"></i>Мои заказы</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'logout' %}">Выход <i class="bi bi-box-arrow-right"></i></a>
              </li>
          {% endif %}
      </ul>
        {% if request.user.is_authenticated %}
        <ul class="navbar-nav">
            <li class="nav-item"><a href="{% url 'cart' %}" class="nav-link"><i class="bi bi-bag-fill" style="font-size: 1.2rem;"></i> <span class="badge bg-danger">{{ cart.books.count }}</span></a></li>
        </ul>
        {% endif %}
    </div>
  </div>
</nav>
<div class="container">
{% block content %}
        {% if messages %}
        {% for message in messages %}

            <div class="alert alert-danger fade show" role="alert">
                <strong>{{ message }}</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>

        {% endfor %}

    {% endif %}
        <div class="col-md-12 mt-3">
            <div class="row">
            <div class="col-md-3 mt-3">
                    <div class="list-group">
                        <a href="{% url 'base' %}" class="list-group-item list-group-item-danger list-group-item-action btn btn-outline-primary">Все книги</a>
                        {% for genre in genres %}
                            {% if genre == gen_selected %}
                            <a href="#" class="list-group-item list-group-item-danger list-group-item-active btn btn-outline-primary" aria-current="true">{{ genre.name}}</a>
                            {% else %}
                        <a href="{% url 'genre' genre_slug=genre.slug %}"
                                class="list-group-item list-group-item-danger list-group-item-action btn btn-outline-primary">{{genre.name}}</a>
                            {% endif %}
                        {% endfor %}
                    </div>
            </div>
            <div class="col-md-9">
            <div class="row">
                {% for book in books %}
                    <div class="card col-md-4 p-1 mb-3 mt-3">
                        <img src="{{ book.image.url }}" class="card-img-top" height="350px">
                        <div class="card-body text-center">
                            <h5 class="card-title">{{ book.name }}</h5>
                        </div>
                            <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                Цена: <strong>{{ book.price }} руб</strong>
                            </li>
                            <li class="list-group-item">
                                {% if book.stock %}
                                <strong class="badge bg-secondary"> Наличие:
                                 {{ book.stock }} шт.
                            </strong>{% else %}
                                <strong class="badge bg-danger">Нет в наличии</strong>
                            {% endif %}
                            </li>
                        </ul>
                    <div class="card-body text-center">

                        {% if request.user.is_authenticated %}

                            {% if book.stock %}
                                {% if book in cart.products_in_cart %}
                                    {% for item in cart.books.all %}
                                        {% if book == item.book %}
                                    {% if item.qty == 1 %}
                                         <a href="{% url 'delete_from_cart' book_slug=item.book.slug%}"><i class="bi bi-dash-square-fill" style="font-size: 1.5rem; color: darkred;"></i></a>
                                    {% else %}
                                         <a href="{% url 'change_gty' book_slug=item.book.slug type=2 %}" title="Уменьшить"><i class="bi bi-dash-square-fill" style="font-size: 1.5rem; color: darkred;"></i></a>
                                    {% endif %}
                                        <a href="#" class="btn btn-dark disabled"><i class="bi bi-bag-check-fill" style="font-size: 1rem;"></i> {{ item.qty }} - в корзине</a>
                                        <a href="{% url 'change_gty' book_slug=item.book.slug type=1 %}" title="Увеличить"><i class="bi bi-plus-square-fill" style="font-size: 1.5rem; color: green;"></i></a>

                                        {% endif %}
                                    {% endfor %}
                                {% else %}
                                    <a href="{% url 'add_to_cart' book_slug=book.slug %}">
                                        <button class="btn btn-outline-secondary"><i class="bi bi-bag-check" style="font-size: 1rem;"></i>
                                    Добавить в корзину
                                            </button>
                                    </a>
                                {% endif %}
                            {% endif %}

                        {% else %}
                            <a href="#" class="btn btn-secondary disabled">
                            Войдите в аккаунт для формирования заказа
                            </a>
                        {% endif %}
                    </div>
                    </div>
                {% endfor %}
            </div>
            </div>
            </div>
        </div>
{% endblock content %}
</div>
</body>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
</html>